@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=Spartan:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Antonio', sans-serif;
  font-family: 'Spartan', sans-serif;
  
  background-color: hsl(240,67%,8%);
  color:white;
  background-image: url('../public/assets/background-stars.svg');
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

